.navigation {
    /*border:1px red solid;*/
    width: 100%;
    height: 35px;
    background-color: #ffffff;
}

.navigation .button {
    width: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation .button_left {
    background: url("../img/activity.png") -5px 5px no-repeat;
    float: left;
    height: 100%;
    margin: 0px;
    border-right: 1px #ededed solid;
}

.navigation .button_left:hover {
    background: url("../img/activity.png") -5px -20px no-repeat;
}

.navigation .button_rigth {
    background: url("../img/activity.png") -40px 5px no-repeat;
    margin: 0px;
    float: right;
    border-left: 1px #ededed solid;
    height: 35px;
    margin-right: 5px;
}

.navigation .button_rigth:hover {
    background: url("../img/activity.png") -40px -20px no-repeat;
}

.navigation .button:hover {
    font-weight: 800;
}

.navigation .center {
    margin-left: 24px;
    height: 35px;
    width: 50px;
    margin-right: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px #ffffff solid;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

.cir_red {
    border: 1px solid #ff6d4a;
    color: #ff6d4a;
}

.back_red {
    background: #ff6d4a;
    color: #ffffff;
}

.cir_yeow {
    border: 1px solid #ffac4c;
    color: #ffac4c;
}

.back_yeow {
    background: #ffac4c;
    color: #ffffff;
}

.cir_green {
    border: 1px solid #68c426;
    color: #68c426;
}

.back_green {
    background: #68c426;
    color: #ffffff;
}

.cir_gray {
    border: 1px solid #b1b5ba;
    color: #b1b5ba;
}

.cir_yellow {
    border: 1px solid #FFAC4C;
    color: #FFAC4C;
}

.back_yellow {
    background: #FFAC4C;
    color: #FFFFFF;
}

.back_gray {
    background: #b1b5ba;
    color: #ffffff;
}

.f_left {
    float: left !important;
}

.f_right {
    float: right !important;
}

.navigation .lebel {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    height: 30px;
    padding: 0px 10px;
    min-width: 50px;
    overflow: hidden;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: 0;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

.navigation .on {
    color: #ffffff !important;
    background: #5ba2ea;
}

.fault_main {
    position: relative;
    background: #f4f6f9;
    height: 100%;
    overflow: hidden;
}

.fault_main .main_title {
    background: #ffffff;
    line-height: 40px;
    padding-left: 20px;
    height: 40px;
}

.fault_main .item {
    background: #ffffff;
    height: 40px;
    box-sizing: border-box;
}

.fault_main .item .refresh {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 5px;
    cursor: pointer;
    float: left;
    background: url("../img/lesson.png") no-repeat -188px -131px;
}

.fault_main .group_but {
    float: right;
}

.fault_main .back_group_but {
    position: absolute;
    right: 10px;
    top: 5px;
    top: 5px;
}

.fault_main .group_but .button, .fault_main .back_group_but .button {
    float: left;
    width: 68px;
    height: 28px;
    border-radius: 2px 0 0 2px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    letter-spacing: 0;
    border: 1px #ededed solid;
    background: #f4f6f9;
}

.fault_main .group_but .button.on, .fault_main .back_group_but .button.on {
    background: #5ba2ea !important;
    color: #ffffff;
}

.fault_main ul {
    width: 600px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.fault_main ul li {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.fault_main ul li.on {
    background: url("../img/bottom.png") no-repeat center 35px;
}

.fault_main .tble {
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    border-radius: 6px;

}
.tble {
    overflow: hidden auto;
     display: block;
}


.tble .thead {
    font-size: 13px;
    color: #808fa3;
    letter-spacing: 0;
}

.tble th, .tble td {
    border: 0px;
    text-align: left;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #ededed;
    padding-left: 10px;
}

tbody td {
    color: #323c47;
}

.tble tbody > tr:hover {
    background: #edf5ff;
}

.tble thead tr, .tble tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.tble tbody {
    display: block;
    height: 195px;
    overflow-y: scroll;
}

.tble tr {
    min-height: 41px;
    height: 40px;
    padding: 10px 0px;
}

.tble tbody tr, td {
    height: 46px;
    box-sizing: border-box;
    font-size: 16px;
    color: #808fa3;
}

.fault_main .layout {
    width: auto;
    padding: 15px;
}

.layout .layout_left {
    width: auto;
    margin-right: 250px;
    height: 100%;
    overflow: hidden auto;

}

.layout .layout_right {
    width: 246px;
    float: right;
    min-height: 600px;
    border: 1px solid #ededed;
    border-radius: 6px;
    height: auto;
    margin-bottom: 0px;
}

.right_loops_top_title {
    padding: 10px;
    line-height: 25px;
    font-size: 16px;
    color: #323c47;
    letter-spacing: 0;
    height: 44px;
    box-sizing: border-box;
    background: url("../img/Rectangle.png") #ffffff no-repeat 0px 12px;
    border-radius: 6px 6px 0 0;
}

.right_loops_top_title_null {
    padding: 10px;
    line-height: 25px;
    font-size: 13px;
    color: #323c47;
    letter-spacing: 0;
    height: 44px;
    box-sizing: border-box;
    border-radius: 6px 6px 0 0;
    background-color: #ffffff;
}

.layout .number {
    float: left;
    width: 32%;
    text-align: center;
    height: 76px;
}

.synthesize_num {
    float: left;
    width: 32%;
    text-align: center;
    height: 76px;
    margin-top: 20px;
}

.synthesize_num span {
    font-size: 16px;
    font-weight: 800;
    color: #ff6d4a;
    letter-spacing: 0;
}

.synthesize_num div {
    margin-top: 20px;
    font-size: 14px;
    color: #808fa3;
    letter-spacing: 0;
}

.number span {
    font-size: 16px;
    font-weight: 800;
    color: #68c426;
    letter-spacing: 0;
}

.number_text_full {
    margin-top: 20px;
    background: url("../../../../../android_asset/html5/img/Oval3.png") no-repeat 0px 5px;
}

.number_text_unfinished {
    margin-top: 20px;
    background: url("../../../../../android_asset/html5/img/Oval1.png") no-repeat 0px 3px;

}

.number_text_replenish {
    margin-top: 20px;
    background: url("../../../../../android_asset/html5/img/Oval2.png") no-repeat 10px 3px;
}
/*../img/Oval4.png*/
.number_text_gray {
    margin-top: 20px;
    background: url("../../../../../android_asset/html5/img/Oval4.png") no-repeat 0px 5px;
}

.layout_right .score_text {
    text-align: center;
    font-size: 14px;
    color: #323c47;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.layout .img_sys_ico {

}

.img_sys_ico img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tble .tab_td_text {
    line-height: 30px;
}

.sysIco {
    width: 30px;
    height: 30px;
    float: left;
    margin: auto;
    border-radius: 50%;
    margin-right: 5px;
}

/*小组*/
.principal {
    position: absolute;
    width: 20px;
    top: 0px;
    height: 18px;
    background: url("../img/principal.png") no-repeat 0px 0px;
}

.combox {
    float: left;
    margin-right: 10px;
    position: relative;
    line-height: 18px;
}

.combox.noposition {
    position: static;
}

.combox.error {
    border: 1px solid #fb6969;
    background-color: #fdf6f5;
    border-radius: 2px;
}

.combox .combox_war {
    position: absolute;
    display: none;
}

.combox .com_content {
    padding: 9px;
    background-color: #5aa2ea;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    min-width: 70px;
    height: 16px;
    cursor: pointer;
}

.combox .on {
    border: 1px solid #57a3f3;
    border-radius: 2px;
}

.combox .error {
    border: 1px solid #fb6969;
}

.combox .error .combox_unfold {
    background: url("../img/warning.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    cursor: pointer;
    float: right;
}

.combox .combox_text {
    color: #ffffff;
    letter-spacing: 0;
    width: auto;
    float: left;
    max-width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.combox .combox_unfold {
    background: url("../img/index.png") no-repeat -363px -60px;
    width: 14px;
    height: 9px;
    margin-top: 5px;
    cursor: pointer;
    float: right;
}

.combox .error_ico {
    background: url("../img/warning.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    cursor: pointer;
    float: right;
}

.combox ul {
    clear: both;
    position: absolute;
    width: 118px;
    /*max-width:180px;*/
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
    border-radius: 2px;
    z-index: 1;
    display: none;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.combox li {
    background: #ffffff;
    border-radius: 1px 1px 0 0;
    font-size: 12px;
    color: #6b6b6b;
    letter-spacing: 0;
    padding: 10px;
    height: 40px;
!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.combox li:hover {
    background: #edf1fa;
    border-radius: 1px 1px 0 0;
    ont-size: 12px;
    color: #3f81c7;
    letter-spacing: 0;
}

.s-d-show-answer-con .answer-btn.active {
    color: #5ba2ea;
    background: none !important;
}
.exam-qiniu-image{
    vertical-align: middle;
}