html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #323C47;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}

/*滚动条*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #e1e1e2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cfcfd1;
}

/*清除浮动*/
.clearfix:before {
    display: table;
    content: "";
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.dn {
    display: none !important;
}

.l {
    float: left;
}

.r {
    float: right;
}

.error {
    color: #FF3B30;
}

.success {
    color: #68C426;
}

.warn {
    color: #FF6D4A;
}

.small8 {
    -webkit-transform: scale(0.8);
    margin: 0;
    padding: 0;
}

.small10 {
    -webkit-transform: scale(0.9);
    margin: 0;
    padding: 0;
}

span.small8 {
    display: inline-block;
}

span.small10 {
    display: inline-block;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*不可选中*/
.no_select {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

.empty-style {
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: url("../img/blank.png") no-repeat center center;
}

/**
 模态框垂直居中
 */
.vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center-modal .ivu-modal {
    top: 0;
}

/*背景层*/
.back-level {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%
}

.back-level:after {
    content: '';
    position: absolute;
    z-index: 1;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    opacity: 0.2;
    background: #000000;
}

/*对话框*/
.box-out {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.box-out .box-inner {
    margin: 0 auto;
    position: relative;
    outline: 0;
    width: 450px;
    top: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border: 0;
    background-clip: padding-box;
}

.box-out .box-inner .box-inner-top {
    width: 100%;
    height: 56px;
    background: #F4F6F9;
    border-bottom: 1px solid #DBDBDB;
}

.box-out .box-inner .box-inner-top .send-title {
    display: inline-block;
    width: 145px;
    height: 56px;
    line-height: 60px;
    font-size: 16px;
    color: #294A6D;
    padding-left: 20px;
}

.box-out .box-inner .box-inner-top .close-send {
    width: 40px;
    line-height: 60px;
    margin-right: 20px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    background: url("../img/close.png") no-repeat center center;
}

.box-out .box-inner .edit-box-inner-con {
    width: 90%;
    min-height: 100px;
    margin: 20px auto 0px;
}

.box-out .box-inner .box-inner-btn {
    width: 90%;
    height: 40px;
    margin: 0px auto 0;
}

/*删除弹框*/
.box-out .box-inner .del-info {
    font-size: 12px;
    color: #464646;
    min-height: 20px;
    line-height: 20px;
    margin: 0 28px;
}

.allRight, .allWrong {
    margin: 0 28px;
    width: 60px;
}

.cus-form-over2 {
    width: 100%;
    height: auto;
    max-height: 500px;
    /*overflow-y: auto;*/
}

.cus-radio2 {
    display: inline-block;
    min-width: 50px;
    /*height: 32px;*/
    margin-right: 20px;
    cursor: pointer;
}

.cus-radio2 .cus-radio-pic {
    display: inline-block;
    width: 26px;
    height: 32px;
    cursor: pointer;
    background: url("../img/radio-off.png") no-repeat center;
}

.cus-radio2 .cus-radio-pic:hover {
    background: url("../img/radio-hover.png") no-repeat center;
}

.cus-radio2 .active {
    background: url("../img/radio-on.png") no-repeat center !important;
}

.cus-radio2 .cus-radio-con {
    /*color: #8A8A8A;*/
    display: inline-block;
    min-width: 30px;
    height: 32px;
    line-height: 32px;
    float: right;
    margin-left: 3px;
}

/**
 自定义表单样式
 */

.cus-form-item {
    vertical-align: top;
    zoom: 1;
    font-size: 12px;
    color: #464646;
    min-height: 32px;
    padding-bottom: 26px;
}

.cus-form-item:after, .cus-form-item:before {
    content: "";
    display: table;
}

.cus-form .cus-form-item-label {
    width: 104px;
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 12px;
    color: #495060;
    line-height: 1;
    padding: 10px 8px 10px 0;
    box-sizing: border-box;
}

.cus-form-item-content {
    position: relative;
    /*line-height: 32px;*/
    font-size: 12px;
    margin-left: 104px;
    /*padding-top: 5px;*/
}

.cus-form-over {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.cus-form-item .warn-text {
    display: none;
}

.content-body {
    min-width: 1120px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 180px;
    transition: all .2s linear;
}

.content-body.enter {
    padding-left: 0;
}

.content-body .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 180px;
    height: 100%;
    color: #FFF;
    font-size: 13px;
    background: -webkit-linear-gradient(right, #5AA2EA, #86A9F6); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #5AA2EA, #86A9F6); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #5AA2EA, #86A9F6); /* Firefox 3.6 - 15 */
    background: linear-gradient(right, #5AA2EA, #86A9F6); /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#86A9F6', endColorstr='#5AA2EA', GradientType=1);
    background: -ms-linear-gradient(left, #86A9F6, #5AA2EA); /*IE*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#86A9F6, endColorstr=#5AA2EA)"; /*IE8+*/
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    border-top: 1px solid #FFF;
    transition: all .2s linear;

}

.content-body .menu.enter {
    width: 0px !important;
}

.content-body .menu.enter .menu-item {
    border: 0px !important;
}

.content-body .menu.enter .tou-xiang {
    display: none !important;
}

.content-body .menu .menu-box {
    width: 100%;
    height: 100%;
    background: url("../img/menu-logo.png") -70px bottom no-repeat;
}

.content-body .menu .menu-box .menu-box-top {
    width: 100%;
    height: 110px;
    padding: 30px 10px 30px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.content-body .menu .menu-box-top .tou-xiang {
    width: 50px;
    height: 50px;
    border: 2px solid #FFF;
    position: relative;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    margin-left: 25px;
}

.content-body .menu .menu-box-top .tou-xiang img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content-body .menu .menu-box-top .flag {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../img/index.png") -341px -56px no-repeat;
}

.content-body .menu .menu-box-top .info {
    width: 80px;
    height: 50px;
}

.content-body .menu .menu-box-top .name {
    width: 100%;
    height: 30px;
    text-indent: 8px;
    font-weight: bold;
    line-height: 30px;
}

.content-body .menu .menu-box-top .subject {
    width: 100%;
    height: 20px;
    /*line-height: 20px;*/
}

.content-body .menu .menu-box-bot {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.content-body .menu .menu-box-bot .menu-item {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    border-left: 4px solid #86A9F6;
}

.pictureWindows {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    position: absolute;
    width: 160px;
    height: 140px;
    top: 90px;
    left: 10px;
    padding-top: 10px;
    display: none;
    z-index: 999;
    box-sizing: border-box;;
    text-align: center;
    color: #000000;
}

.content-body .menu .menu-box-bot .menu-item .index {
    background: url("../img/index.png") -224px -50px no-repeat;
}

.pictureWindows {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    position: absolute;
    width: 160px;
    height: 140px;
    top: 90px;
    left: 10px;
    padding-top: 10px;
    display: none;
    z-index: 999;
    box-sizing: border-box;;
    text-align: center;
    color: #000000;
}

.content-body .menu .menu-box-bot .menu-item .my-lesson {
    background: url("../img/index.png") -224px -80px no-repeat;
}

.content-body .menu .menu-box-bot .menu-item .activity {
    background: url("../img/index.png") -224px -110px no-repeat;
}

.content-body .menu .menu-box-bot .menu-item .group {
    background: url("../img/index.png") -224px -171px no-repeat;
}

.content-body .menu .menu-box-bot .menu-item .personal {
    background: url("../img/index.png") -224px -200px no-repeat;
}

.content-body .menu .menu-box-bot .menu-item .statistics {
    background: url("../img/index.png") -224px -141px no-repeat;
}

.content-body .menu .menu-item .menu-item-pic {
    position: absolute;
    left: 40px;
    top: 0;
    width: 25px;
    height: 40px;
    display: inline-block;
}

.content-body .menu .menu-item .menu-item-name {
    width: auto;
    height: 40px;
    line-height: 40px;
    position: absolute;
    left: 70px;
    display: inline-block;
    top: 0;
}

.content-body .menu .menu-item:hover {
    background: #81BBF6;
    border-left: 4px solid #FFF !important;
}

.content-body .menu .active {
    background: #81BBF6;
    border-left: 4px solid #FFF !important;
}

.content-body .menu .menu-slide-btn {
    width: 12px;
    position: absolute;
    top: 50%;
    right: -12px;
    height: 38px;
    cursor: pointer;
    z-index: 1;
    background: url("../img/index1.png") no-repeat -308px -281px;
    border-radius: 0 4px 4px 0;
}

.content-body .container {
    width: 100%;
    height: 100%;
    transition: all .2s linear;
}

/*单选按钮*/
.cus-radio {
    display: inline-block;
    min-width: 50px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
}

.cus-radio .cus-radio-pic {
    display: inline-block;
    width: 26px;
    height: 32px;
    cursor: pointer;
    background: url("../img/radio-off.png") no-repeat center;
}

.cus-radio .cus-radio-pic:hover {
    background: url("../img/radio-hover.png") no-repeat center;
}

.cus-radio .active {
    background: url("../img/radio-on.png") no-repeat center !important;
}

.cus-radio .cus-radio-con {
    /*color: #8A8A8A;*/
    display: inline-block;
    min-width: 30px;
    height: 32px;
    line-height: 32px;
    float: right;
    margin-left: 3px;
}

/*单选 -- 另一种样式 （只在该项目用）*/
.cus-radio1 {
    border: 1px solid #EDEDED;
    min-width: 80px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.cus-radio1.active {
    border: 1px solid #5BA2EA;
    background: url("../img/radio2.png") no-repeat right bottom;
}

/*复选按钮*/
.cus-checkbox {
    display: inline-block;
    min-width: 50px;
    height: 38px;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
}

.cus-checkbox .cus-checkbox-pic {
    display: inline-block;
    width: 26px;
    height: 100%;
    cursor: pointer;
    float: left;
    background: url("../img/check-box-off.png") no-repeat center;
}

.cus-checkbox .cus-checkbox-pic:hover {
    background: url("../img/check-box-hover.png") no-repeat center;
}

.cus-checkbox .active {
    background: url("../img/check-box-on.png") no-repeat center !important;
}

.cus-checkbox .middle {
    background: url("../img/check-box-m.png") no-repeat center !important;
}

.cus-checkbox .cus-checkbox-con {
    color: #8A8A8A;
    display: inline-block;
    min-width: 30px;
    height: 100%;
    float: left;
    line-height: 38px;
}

.cus-checkbox:before {
    display: table;
    content: "";
}

.cus-checkbox:after {
    display: table;
    clear: both;
    content: "";
}

/*提示框*/
.info-out {
    position: fixed;
    top: 0px;
    height: auto;
    left: 0;
    right: 0;
    z-index: 10301;
    width: 100%;
    pointer-events: none;
}

.info-box {
    position: relative;
    width: 100%;
    height: 40px;
}

.info-mid-box {
    text-align: center;
    position: absolute;
    top: 34px;
    height: 34px;
    width: 100%;
}

.info-box-hide {
    position: relative;
    width: 100%;
    height: 0px;
    text-align: center;
    transition: visibility 0s ease-in-out, opacity .5s ease-in-out;
    animation: fade-top3;
    animation-duration: .5s;
    -webkit-animation: fade-top3 .5s;
}

.popover-wrap {
    width: auto;
    height: 34px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    display: inline-block;
    opacity: 1;
    transition: visibility 0s ease-in-out, opacity .5s ease-in-out;
    animation: fade-top1;
    animation-duration: .5s;
    -webkit-animation: fade-top1 .5s;
}

.popover-wrap-hide {
    position: absolute;
    overflow: hidden;
    top: -34px;
    opacity: 0;
    transition: visibility 0s ease-in-out, opacity .5s ease-in-out;
    animation: fade-top2;
    animation-duration: .5s;
    -webkit-animation: fade-top2 .5s;
}

/*.popover-wrap-hide {*/
/*width: auto;*/
/*position: absolute;*/
/*overflow: hidden;*/
/*top: -34px;*/
/*height: 34px;*/
/*border-radius: 4px;*/
/*background-color: #fff;*/
/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);*/
/*display: inline-block;*/
/*opacity: 0;*/
/*transition: visibility 0s ease-in-out, opacity .5s ease-in-out;*/
/*animation: fade-top2;*/
/*animation-duration: .5s;*/
/*-webkit-animation: fade-top2 .5s;*/
/*}*/

.suc-pic {
    width: 30px;
    height: 34px;
    display: inline-block;
    float: left;
}

.suc-info {
    width: auto;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    float: left;
    text-align: left;
    padding-right: 8px;
}

.suc-back {
    background: url("../img/messgae_succ.png") no-repeat center center;
}

.fail-back {
    background: url("../img/message_error.png") no-repeat center center;
}

.warn-back {
    background: url("../img/warn.png") no-repeat center center;
}

@keyframes fade-top1 {
    0% {
        opacity: .1;
        top: -34px
    }
    100% {
        opacity: 1;
        top: 34px
    }
}

@-webkit-keyframes fade-top1 {
    0% {
        opacity: .1;
        top: -34px
    }
    100% {
        opacity: 1;
        top: 34px
    }
}

@keyframes fade-top2 {
    0% {
        opacity: 1;
        top: 34px
    }
    100% {

        opacity: .1;
        top: -34px
    }
}

@-webkit-keyframes fade-top2 {
    0% {
        opacity: 1;
        top: 34px
    }
    100% {

        opacity: .1;
        top: -34px
    }
}

@keyframes fade-top3 {
    0% {
        height: 34px;
    }
    100% {
        height: 0px;
    }
}

@-webkit-keyframes fade-top3 {
    0% {
        height: 34px;
    }
    100% {
        height: 0px;
    }
}

/*缓冲*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20100;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .2;
}

.loading:before {
    content: '';
    position: absolute;
    z-index: 101;
    top: 49%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url("../img/loading1.gif") no-repeat center;
    background-size: cover;
}

.loading:after {
    content: '';
    position: absolute;
    z-index: 11;
    top: 49%;
    left: 50%;
    margin-top: -53px;
    margin-left: -40px;
    text-align: center;
    font-size: 20px;
    color: #919191
}

/*选择框样式*/
.cus-select {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    /*width: 190px;*/
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    /*border: 1px solid #E0E0E0;*/
    margin-left: 3px;
}

.cus-select .select-value {
    display: inline-block;
    /*width: 165px;*/
    width: auto;
    padding-left: 5px;
    height: 100%;
    float: left;
    text-align: center;
}

.cus-select .select-value .select-label {
    width: 100%;
    float: left;
    height: 100%;
    line-height: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cus-select .select-item {
    /*top 改为父盒子的height-1*/
    position: absolute;
    width: auto;
    /*padding-right: 20px;*/
    /* min-width: 120px; */
    top: 33px;
    left: -1px;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 4px;
}

.cus-select .select-item .select-ul {
    display: block;
    border: 1px solid #E0E0E0;
    /*border-top: none;*/
    padding: 0;
    margin-top: 0;
    max-height: 156px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 2px;
}

.cus-select .select-item .select-li {
    box-sizing: border-box;
    height: 32px;
    /*text-align: center;*/
    line-height: 32px;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #323C47;
}

.cus-select .select-item .select-li:hover {
    background: #EDF5FF;
    color: #5BA2EA;
}

.cus-select .select-btn {
    width: 20px;
    float: left;
    height: 100%;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 2px;*/
    /*border-left: 1px solid #E0E0E0;*/
}

.cus-select .select-btn > span {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(" ../img/index.png") no-repeat -373px -52px;
}

/*input*/

::-webkit-input-placeholder { /* WebKit browsers */
    color: #B1B5BA;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #B1B5BA;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #B1B5BA;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #B1B5BA;
}

/*input*/
.cus-input {
    display: inline-block;
    width: 100%;
    /*max-width: 300px;*/
    height: 32px;
    /*line-height: 1.5;*/
    padding: 2px 7px;
    line-height: 31px;
    font-size: 12px;
    border: 1px solid #EDEDED;
    border-radius: 2px;
    color: #495060;
    background: #fff none;
    position: relative;
    cursor: text;
    text-indent: 0;
    outline: none;
    box-sizing: border-box;
    transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
}

.cus-input:focus, .cus-input:hover {
    border-color: #57a3f3;
}

.cus-input:focus {
    border-color: #57a3f3;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(45, 140, 240, .2)
}

.search-item-input {
    width: 230px;
    margin-right: 20px;
    height: 32px;
    display: inline-block;
    background: url("../img/search.png") no-repeat 205px center;
}

/*button*/
.cus-button {
    min-width: 40px;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    outline: none;
    border: none;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
    color: #464646;
    font-size: 12px;
}

.cus-button:hover {
    opacity: .7;
}

.cus-button-blue {
    background: #5AA2EA;
    border: 1px solid #5AA2EA;
    color: #FFF;
    border-radius: 2px;
}

.cus-button-white {
    background: #FFF;
    color: #808FA3;
    border: 1px solid #EDEDED;
    border-radius: 2px;
}

.cus-button-three {
    background: #FFF;
    color: #5AA2EA;
    border: 1px solid #5AA2EA;
    border-radius: 2px;
}

/*刷新*/
.cus-refresh {
    display: inline-block;
    background: #FFFFFF;
    width: 28px;
    height: 28px;
    background: url(../img/lesson.png) -189px -132px no-repeat;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 12px;
}

.cus-refresh:hover {
    background: url("../img/lesson.png") -189px -165px no-repeat;
}

/*错误提示*/
.cusWarn {
    position: relative;
}

.cusWarn .warn-text {
    position: absolute;
    display: block;
    height: 24px;
    line-height: 24px;
    width: 220px;
    color: #FB6969;
    text-indent: 20px;
    left: 99px;
    bottom: 1px;
}

.cusWarn .warn-text:before {
    display: inline-block;
    width: 19px;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 24px;
    background: url("../img/warning.png") no-repeat center 6px;
}

.cusWarn input {
    background: #FDF6F5 !important;
    border: 1px solid #FB6969 !important;
}

.cusWarn .cus-input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #FDF6F5;
}

/*收起  展开*/
.slide-sea {
    padding-top: 0 !important;
}

.slide-sea .slide-sea-view {
    height: 0 !important;
    /*visibility: hidden !important;*/
    overflow: hidden;
}

.slide-sea .slide-up-cd {
    top: -8px;
}

.slide-sea .slide-up-cd span {
    background: url(../img/lesson.png) -172px -229px no-repeat !important;
}

.slide-sea-view {
    /*visibility: visible;*/
    transition: all .2s linear;
}

/*.slide-sea .slide-up-cd:hover {*/
/*background: url("../img/lesson.png") -172px -256px no-repeat !important;*/
/*}*/

.slide-up-cd {
    position: absolute;
    left: 0;
    top: 120px;
    width: 100%;
    height: 12px;
    z-index: 1;
    cursor: pointer;
    background: #F4F6F9;
    transition: all .2s linear;
    text-align: center;
}

.slide-up-cd span {
    background: url(../img/lesson.png) -110px -229px no-repeat;
    transition: all .2s linear;
    display: inline-block;
    width: 38px;
    height: 12px;
}

.slide-up-cd2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 12px;
    z-index: 1;
    background: #F4F6F9;
    transition: all .2s linear;
    text-align: center;
}

.slide-up-cd2 span {
    background: url(../img/lesson.png) -110px -229px no-repeat;
    transition: all .2s linear;
    display: inline-block;
    cursor: pointer;
    width: 38px;
    height: 12px;
}

.slide-up-cd3 {
    position: relative;
    left: 0;
    width: 100%;
    height: 12px;
    z-index: 1;
    background: #F4F6F9;
    transition: all .2s linear;
    text-align: center;
    display: none;
}

.slide-up-cd3 .btn {
    background: url(../img/lesson.png) -110px -229px no-repeat;
    transition: all .2s linear;
    display: inline-block;
    cursor: pointer;
    width: 38px;
    height: 12px;
    transition: all .2s linear;
}

.slide-up-cd3 .btn.active {
    background: url(../img/lesson.png) -172px -229px no-repeat !important;
}

/*树*/
#tree {
    width: 230px;
    min-height: 800px;
    border: 1px solid #CCCCcc;
    margin: 50px auto;
    padding: 10px;
}

.cus-select-tree .parentView {
    width: 100%;
    min-height: 10px;
    box-sizing: content-box;
    padding-right: 20px;
    margin-top: 6px;
}

.cus-select-tree .parentView > .childView {
    padding-left: 10px !important;
}

.cus-select-tree .parentView .childView {
    width: 100%;
    min-height: 30px;
    padding-left: 18px;
    box-sizing: border-box;
}

.cus-select-tree .parentView .childView .tree-icon {
    width: 20px;
    height: 30px;
    display: inline-block;
    background: url(../img/tree-zhankai.png) no-repeat left 10px;
}

.cus-select-tree .parentView .childView .tree-icon.active {
    background: url("../img/tree-shouqi.png") no-repeat left 10px;
}

.cus-select-tree .parentView .childView .childName {
    /*width: 100%;*/
    display: inline-block;
    min-height: 26px;
    line-height: 26px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}

.cus-select-tree .parentView .childView .childList {
    width: 100%;
    padding-left: 5px;
    background: url("../img/xuxian_s.png") repeat-y 5px 2px;
    box-sizing: border-box;
}

.cus-select-tree .parentView .childView .grandSonName {
    width: 100%;
    padding-left: 30px;
    background-size: 2px 20px;
    min-height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}

.cus-select-tree .parentView .childView .activeSon {
    color: #4291FF;
}

.cus-select-tree .parentView .childView .grandSonName::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    display: inline-block;
    height: 20px;
    width: 25px;
    background: url("../img/xuxian_h.png") repeat-x left center;
    box-sizing: border-box;
}
.exam-score{
    font-size: 16px;
    color: #808FA3;
    letter-spacing: 0;
}
.txts{
    line-height: 45px;
    margin: 5px;
    padding: 0px 5px;
    color: rgb(255, 109, 74);
    background: rgb(253, 221, 203);
}