.navigation {
    /*border:1px red solid;*/
    width: 100%;
    height: 35px;
    background-color: #FFFFFF;
}

.navigation .button {
    width: 20px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.navigation .button_left {
    float: left;
}

.navigation .button_rigth {
    float: right;
}

.navigation .button:hover {
    font-weight: 800;
}

.navigation .center {
    position: absolute;
    margin-left: 40px;
    width: 86%;
    margin-right: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.circle {
    float: left;
    width: 20px;
    height: 20px;
    border: 1px #FFFFFF solid;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin: 5px;
    cursor: pointer;
}

.cir_red {
    border: 1px solid #FF6D4A;
    color: #FF6D4A;
}

.back_red {
    background: #FF6D4A;
    color: #FFFFFF;
}

.cir_yeow {
    border: 1px solid #FFAC4C;
    color: #FFAC4C;
}

.back_yeow {
    background: #FFAC4C;
    color: #FFFFFF;
}

.cir_green {
    border: 1px solid #68C426;
    color: #68C426;
}

.back_green {
    background: #68C426;
    color: #FFFFFF;
}

.cir_gray {
    border: 1px solid #B1B5BA;
    color: #B1B5BA;
}

.back_gray {
    background: #B1B5BA;
    color: #FFFFFF;
}

.f_left {
    float: left !important;
}

.f_right {
    float: right !important;
}

.navigation .lebel {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 50px;
    overflow: hidden;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 0;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
}

.navigation .on {
    color: #FFFFFF;
    background: #5BA2EA;
}

.fault_main {
    position: relative;
    background: #f4f6f9;
    height: 100%;
    overflow: hidden;
}

.fault_main .main_title {
    background: #FFFFFF;
    line-height: 40px;
    padding-left: 20px;
    height: 40px;
}

.fault_main .item {
    background: #FFFFFF;
    height: 40px;
    box-sizing: border-box;
}

.fault_main .item .refresh {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 5px;
    cursor: pointer;
    float: left;
    background: url("../img/lesson.png") no-repeat -188px -131px;
}

.fault_main .group_but {
    float: right;
}

.fault_main .back_group_but {
    position: absolute;
    right: 10px;
    top: 7px;
}

.fault_main .group_but .button, .fault_main .back_group_but .button {
    float: left;
    width: 68px;
    height: 28px;
    border-radius: 2px 0 0 2px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    letter-spacing: 0;
    background: #FFFFFF;
}

.fault_main .group_but .button.on, .fault_main .back_group_but .button.on {
    background: #5BA2EA;
    color: #FFFFFF;
}

.fault_main ul {
    width: 600px;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}

.fault_main ul li {
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.fault_main ul li.on {
    background: url("../img/bottom.png") no-repeat center 35px;
}

.fault_main .tble {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 15px;
    border-radius: 6px;

}

.tble .thead {
    font-size: 13px;
    color: #808FA3;
    letter-spacing: 0;
}

.tble th, td {
    border: 0px;
    text-align: center;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #EDEDED;
}

.tble tbody > tr:hover {
    background: #EDF5FF;
}

.tble tr {
    min-height: 41px;
    height: 40px;
    padding: 10px 0px;
}

.tble tbody tr, .tble tbody td {
    height: 46px;
    box-sizing: border-box;

}

.fault_main .layout {
    width: auto;
    padding: 15px;
}

.layout .layout_left {
    width: auto;
    margin-right: 250px;
    height: 100%;
}

.layout .layout_right {
    width: 246px;
    float: right;
    max-height: 600px;
    border: 1px solid #EDEDED;
    border-radius: 6px;
    height: auto;
    margin-bottom: 0px;
}

.right_loops_top_title {
    padding: 10px;
    line-height: 25px;
    font-size: 13px;
    color: #323C47;
    letter-spacing: 0;
    height: 44px;
    box-sizing: border-box;
    background: url("../img/Rectangle.png") #FFFFFF no-repeat 0px 12px;
    border-radius: 6px 6px 0 0;
}

.right_loops_top_title_null {
    padding: 10px;
    line-height: 25px;
    font-size: 13px;
    color: #323C47;
    letter-spacing: 0;
    height: 44px;
    box-sizing: border-box;
    border-radius: 6px 6px 0 0;
    background-color: #ffffff;
}

.layout .number {
    float: left;
    width: 32%;
    text-align: center;
    height: 76px;
}

.synthesize_num {
    float: left;
    width: 32%;
    text-align: center;
    height: 76px;
    margin-top: 20px;
}

.synthesize_num span {
    font-size: 16px;
    font-weight: 800;
    color: #FF6D4A;
    letter-spacing: 0;
}

.synthesize_num div {
    margin-top: 20px;
    font-size: 10px;
    color: #808FA3;
    letter-spacing: 0;
}

.number span {
    font-size: 16px;
    font-weight: 800;
    color: #68C426;
    letter-spacing: 0;
}

.number_text_full {
    margin-top: 20px;
    background: url("../img/Oval3.png") no-repeat 10px 3px;
}

.number_text_unfinished {
    margin-top: 20px;
    background: url("../img/Oval1.png") no-repeat 10px 3px;

}

.number_text_replenish {
    margin-top: 20px;
    background: url("../img/Oval2.png") no-repeat 10px 3px;
}

.number_text_gray {
    margin-top: 20px;
    background: url("../img/Oval4.png") no-repeat 10px 3px;
}

.layout_right .score_text {
    text-align: center;
    font-size: 12px;
    color: #323C47;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.layout .img_sys_ico {

}

.img_sys_ico img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tble .tab_td_text {
    margin: 0 auto;
    width: 100px;
    line-height: 30px;
}

.sysIco {
    width: 30px;
    height: 30px;
    float: left;
    margin: auto;
    border-radius: 50%;
}

/*小组*/
.principal {
    position: absolute;
    width: 20px;
    top: 0px;
    height: 18px;
    background: url("../img/principal.png") no-repeat 0px 0px;
}

.combox {
    float: left;
    margin-right: 10px;
    position: relative;
    line-height: 18px;
}

.combox.noPosition {
    position: static;
}

.combox.error {
    border: 1px solid #FB6969;
    background-color: #FDF6F5;
    border-radius: 2px;
}

.combox .combox_war {
    position: absolute;
    display: none;
}

.combox .com_content {
    padding: 9px;
    background-color: #5AA2EA;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    min-width: 70px;
    height: 16px;
    cursor: pointer;
}

.combox .on {
    border: 1px solid #57a3f3;
    border-radius: 2px;
}

.combox .error {
    border: 1px solid #FB6969;
}

.combox .error .combox_unfold {
    background: url("../../images/warning.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    cursor: pointer;
    float: right;
}

.combox .combox_text {
    color: #ffffff;
    letter-spacing: 0;
    width: auto;
    float: left;
    max-width: 80px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.combox .combox_unfold {
    background: url("../img/index.png") no-repeat -363px -60px;
    width: 14px;
    height: 9px;
    margin-top: 5px;
    cursor: pointer;
    float: right;

}

.combox .error_ico {
    background: url("../../images/warning.png") no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    cursor: pointer;
    float: right;
}

.combox ul {
    clear: both;
    position: absolute;
    width: 118px;
    /*max-width:180px;*/
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10);
    border-radius: 2px;
    z-index: 1;
    display: none;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.combox li {
    background: #FFFFFF;
    border-radius: 1px 1px 0 0;
    font-size: 12px;
    color: #6B6B6B;
    letter-spacing: 0;
    padding: 10px;
    height: 40px;
!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.combox li:hover {
    background: #EDF1FA;
    border-radius: 1px 1px 0 0;
    ont-size: 12px;
    color: #3F81C7;
    letter-spacing: 0;
}

.s-d-show-answer-con .answer-btn.active {
    color: #5BA2EA;
    background: none !important;
}
.exam-qiniu-image{
    vertical-align: middle;
}