<div class="datum_layour">
    <div style="width: 320px;;">
        <div class="datum_left" sid="left_list">

        </div>
    </div>
    <div class="datum_right " sid="datum_right">
        <!--<div class="statistics">-->
            <!--<div style="width: 145px;height: 145px;position: absolute;margin: 15px 0px 0px 35px;" sid="datum_svg">-->

            <!--</div>-->
            <!--<div style="margin: 26px 0px 0px 214px; font-size: 14px;color: #323C47;letter-spacing: 0;font-weight: 800;"><span-->
                    <!--sid="submit_count"></span> <br><span-->
                    <!--style="font-size: 10px;color: #B1B5BA;letter-spacing: 0;display:block;line-height: 40px;">已完成</span></div>-->
            <!--<div style="margin: 26px 0px 0px 214px; font-size: 14px;color: #323C47;letter-spacing: 0;font-weight: 800;"><span-->
                    <!--sid="remain_count"></span><br><span-->
                    <!--style="font-size: 10px;color: #B1B5BA;letter-spacing: 0;display:block;line-height: 40px;">未查看</span></div>-->
            <!--<div style="margin: 26px 0px 0px 214px; font-size: 12px;color: #323C47;letter-spacing: 0;font-weight: 800;"><span-->
                    <!--sid="avg_time"></span></div>-->
            <!--<div style="position: absolute;top: 0px; right:20px;">-->
                <!--<div class="number_text_gray text_all">未查看</div>-->
                <!--<div class="number_text_full text_all">已完成</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="stu_list">-->
            <!--<table class="tble" border="0" cellspacing="0" cellpadding="0" align="center">-->
                <!--<tr>-->
                    <!--<td>学生</td>-->
                    <!--<td>状态</td>-->
                    <!--<td>用时</td>-->
                <!--</tr>-->
                <!--<tbody sid="stu_list">-->

                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    </div>
</div>