<div class="datum_layour">
    <div style="width: 320px;;">
            <div class="datum_left" sid="left_list">
        </div>
    </div>
    <div class="datum_right " sid="datum_right">
    </div>
</div>