<div id="del-box">
    <div class="back-level"></div>
    <div class="box-out">
        <div class="box-inner" style="width: 450px">
            <div class="box-inner-top clearfix">
                <span class="send-title l" sid="title">提示</span>
                <span class="close-send r" sid="cancel"></span>
            </div>
            <div class="edit-box-inner-con" style="width:96%;min-height:40px">
                <div class="cus-form-2 cus-radio2">
                    <div class="del-info" sid="message">当前有未批改的内容，请选择批改结果：</div>
                    <div class="allRight" sid="allRight"><span class="cus-radio-pic" sid="pic" key="1"></span><span class="cus-radio-con">满分</span>
                    </div>
                    <div class="allWrong" sid="allWrong"><span class="cus-radio-pic" sid="pic" key="1"></span><span class="cus-radio-con">0分</span>
                    </div>
                </div>
            </div>
            <div class="box-inner-btn">
                <Button class="cus-button cus-button-white r" sid="cancel">取消</Button>
                <Button type="button" class="cus-button cus-button-blue r" sid="save">确定</Button>
            </div>
        </div>
    </div>
</div>
