<div class="correct" cid="correct">
    <div class="correct_left">
        <div class="datum_left" sid="datum_left"></div>
    </div>
    <div class="correct_right" cid="correct_right" style="float: right;width: 200px;background: #FAFAFA;height: 100%">
        <div class="" style="height: 93%;position: relative;overflow-y: auto;">
            <div class="tools_menu" sid="toolButton" style="display:none;">
                <div class="button right_on" sid="rightButton"></div>
                <div class="button notRight" sid="notRightButton"></div>
                <div class="button wrong" sid="wrongButton"></div>
                <div class="button wipe" sid="wipeButton"></div>
            </div>
            <div style="background: #FFFFFF; clear:both;box-shadow: 0 -1px 0 0 #EDEDED;">
                <div class="synthesize_num" style="width: 50%">
                    <span sid="c_total" style="color: #5BA2EA;">0</span>
                    <div>总题数</div>
                </div>
                <div class="synthesize_num" style="width: 50%">
                    <span sid="noCorrect">0</span>
                    <div>未批改</div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div class="exhibition" sid="title_nav">
            </div>
            <div class="botton submit correct_save" sid="saveButton" style="cursor: pointer">保存</div>
        </div>
    </div>
    <div class="middle" cid="correct_middle">
        <div class="middle_head" cid="middle_head">
            <div class="tab_td_text" cid="middle_head_content">
                <div cid="img_sys_ico" class="sysIco img_sys_ico" style="margin-top: 8px;margin-left: 10px;">
                    <!--这里Android目录与ios的不一样-->
                    <img src="../../../../../android_asset/html5/img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg"/>
                </div>
                <span cid="middle_stuName" style="margin-left: 10px;"></span>
                <span cid="middle_stuScore" style="margin-left: 10px;font-size: 12px;color: #323C47;letter-spacing: -0.34px;"> </span>

                <div style="float: right;font-size: 12px;color: #323C47;letter-spacing: -0.34px;" sid="surface">
                    <div class="f_left">卷面：</div>
                    <div sid="surface_good" class="excellent"></div>
                    <div sid="surface_bad" class="rough"></div>
                </div>

            </div>
            <div cid="group" sid="exam_nav" style="display: block;border: 1px #EDEDED solid;">
                <div class="navigation">
                    <div cid="left" class="button button_left" style="margin: 0px;"></div>
                    <div cid="right" class="button button_rigth" style="margin: 0px;float: right;"></div>
                    <div cid="center" class="center" style="width: 1691px;line-height: 37px">

                    </div>
                </div>
            </div>
        </div>
        <div class="middle_content" cid="middle_content" style="overflow: hidden;height: 90%; overflow-y: auto;margin-top: 85px;">
        </div>
    </div>
</div>