<div class="activity">
    <div sid="select-condition"></div>
    <div sid="status-condition" class="activity_item">
        <div class="activity_text">状态:</div>
        <ul>
            <!--<li>全部</li>-->
            <!--<li>待发布</li>-->
            <!--<li>进行中</li>-->
            <!--<li>已截止</li>-->
            <!--<li>批改中</li>-->
        </ul>
    </div>
    <div class="clera"></div>
    <div sid="class-condition" class="activity_item">
        <div class="activity_text">班级:</div>
        <ul>
            <!--<li>全部</li>-->
            <!--<li>三年级一班</li>-->
            <!--<li>三年级二班</li>-->
            <!--<li>三年级五班</li>-->
            <!--<li>五年级四班</li>-->
        </ul>
    </div>
    <div sid="content">
        <div class="labelList " >
            <div cid="labelList" style="display:inline-block;width: 100%">

            </div>

        </div>
    </div>
</div>
