<div class="fault_main">
    <div class="item" cid="tab_li" sid="nav" >
        <ul>
            <li tk="analyze">题目分析1</li>
            <li tk="datum">资料分析</li>
            <li tk="transcript">成绩单</li>
            <li tk="representative">讲解题型</li>
            <li tk="steamed">卷面</li>
            <li tk="correct">批改</li>
        </ul>
        <div style="float: right;" cid="transcript">
            <div class="back_group_but" sid="view_model_nav" >
            </div>
        </div>
    </div>
    <div cid="container" style="clear: both; height:100%;">

    </div>
</div>