<!--选择题：单选，多选-->
<div class="type_item">
    <div class="type_title">选择题</div>
    <div class="type_item_row">
        <div class="quest_number">A</div>
        <div class="number_people">8人</div>
        <div class="quest_progress">
            <div class="up_pro"></div>
            <div class="pro_text">5%</div></div>
    </div>
    <div class="type_item_row">
        <div class="quest_number">B</div>
        <div class="number_people">8人</div>
        <div class="quest_progress">
            <div class="up_pro"></div>
            <div class="pro_text">8%</div></div>
    </div>
    <div class="type_item_row">
        <div class="quest_number on">C</div>
        <div class="number_people">8人</div>
        <div class="quest_progress">
            <div class="up_pro on" style="width: 100%"></div>
            <div class="pro_text">50%</div></div>
    </div>
    <div class="type_item_row">
        <div class="quest_number">D</div>
        <div class="number_people">8人</div>
        <div class="quest_progress">
            <div class="up_pro"></div>
            <div class="pro_text">50</div></div>
    </div>
</div>
<!--判断-->
<div style="display: none;">
    <div>判断题</div>
    <div style="width: 100%;height: 18px;margin-bottom: 10px;font-size: 12px;">
        <div style="text-align:center;float:left;width: 30px;height: 18px;background: #68C426;font-size: 12px;color: #FFFFFF;letter-spacing: 0;">正确</div>
        <div style="text-align:center;float:right;width: 27px;height: 18px;font-size: 12px;color: #000000;letter-spacing: 0;">8人</div>
        <div style=";margin-left: 31px;margin-right:28px;height: 100%;word-break:break-all;background: #EDEDED;text-align: right">
            <div style="float: left;background: #68C426;width: 50%;height: 100%"></div>
            <span style="float: right;">50%</span></div>
    </div>
    <div style="width: 100%;height: 18px;margin-bottom: 10px;font-size: 12px;">
        <div style="text-align:center;float:left;width: 30px;height: 18px;background: #FF6D4A;color: #FFFFFF;letter-spacing: 0;">错误</div>
        <div style="text-align:center;float:right;width: 27px;height: 18px;color: #000000;letter-spacing: 0;">8人</div>
        <div style=";margin-left: 31px;margin-right:28px;height: 100%;word-break:break-all;background: #EDEDED;text-align: right">
            <div style="float: left;background: #FF6D4A;width: 10%;height: 100%"></div>
            <span style="float: right;">10%</span></div>
    </div>
</div>
<!---->
<div style="font-size: 12px;display:none;">
    <div>填空题</div>
    <div style="height: 30px;background-color: #FFFFFF;border-bottom: 1px #EDEDED solid">
        <span>⑴</span><span>①</span>
    </div>
    <!--正确答案-->
    <div style="clear:both;">
        <div style="color: #68C426;;letter-spacing: -0.34px;float: left;">相交</div>
        <div style="float:right;font-size: 12px;color: #808FA3;letter-spacing: -0.34px;background: #EDEDED;text-align: right">12人</div>
    </div>
    <!--错误答案-->
    <div style="clear:both;">
        <div style="color: #FF6D4A;letter-spacing: -0.34px;float: left;">相切</div>
        <div style="float:right;font-size: 12px;color: #808FA3;letter-spacing: -0.34px;background: #EDEDED;text-align: right">8人</div>
    </div>
    <!--错误答案-->
    <div style="clear:both;">
        <div style="color: #FF6D4A;letter-spacing: -0.34px;float: left;">相切</div>
        <div style="float:right;font-size: 12px;color: #808FA3;letter-spacing: -0.34px;background: #EDEDED;text-align: right">8人</div>
    </div>
</div>

<-->
