<div class="fault_main">
    <div class="main_title" sid="crumb">
        <!--<a>教学活动</a> > <a>任务包名称</a> > <a>学生详情</a>-->
    </div>
    <div class="head" style="margin-top: 10px;">
        <div class="tab_td_text">
            <div cid="" class="sysIco img_sys_ico" style="margin-top: 8px;margin-left: 10px;"><img
                    sid = 'student_image'></div>
            <span sid = 'student_name' style="margin-left: 10px;"></span>
            <span style="margin-left: 30px;font-size: 12px;color: #323C47;letter-spacing: -0.34px;">成绩：<span sid="score"></span>分</span>
            <span style="margin-left: 30px;font-size: 12px;color: #323C47;letter-spacing: -0.34px;">总分：<span sid="total_score"></span>分</span>
            <span style="margin-left: 30px;font-size: 12px;color: #323C47;letter-spacing: -0.34px;">班级平均分：<span sid = 'average_score'></span>分</span>
            <span style="margin-left: 30px;font-size: 12px;color: #323C47;letter-spacing: -0.34px;">用时：<span sid="spend_time"></span></span>
            <div style="float: right;font-size: 12px;color: #323C47;letter-spacing: -0.34px;" sid="surface">
                <!--<div class="f_left" style="padding: 15px;line-height: 16px;">-->
                    <!--<div cid="checkbox"><span>显示答案解析</span></div>-->
                <!--</div>-->
                <div class="f_left">卷面：</div>
                <div class="excellent" sid="surface_good"></div>
                <div class="rough" sid="surface_bad"></div>
            </div>
        </div>
    </div>
    <div class="correct_right" style="float: right;width: 180px;background: #FAFAFA;height: 100%;margin-top: 10px;margin-right: 10px;">
        <div class="" style="height: 100%;position: relative;overflow: hidden;overflow-y: auto;" sid="title_container">
                    <div class="exhibition" sid="title_nav">
                        <!--<div class="item"><span>1</span>.<span>任务型阅读</span>-->
                            <!--<div class="f_right succ "></div>-->
                        <!--</div>-->
                        <!--<div class="item"><span>2</span>.<span>任务型阅读</span>-->
                            <!--<div class="f_right succ "></div>-->
                        <!--</div>-->
                        <!--<div class="item"><span>3</span>.<span>任务型阅读</span>-->
                            <!--<div class="f_right noright "></div>-->
                        <!--</div>-->
                        <!--<div class="item"><span>4</span>.<span>任务型阅读</span>-->
                            <!--<div class="f_right noright "></div>-->
                        <!--</div>-->
                        <!--<div class="item"><span>5</span>.<span>任务型阅读</span>-->
                            <!--<div class="f_right fault "></div>-->
                        <!--</div>-->
                        <!--<div class="item"><span>6</span>.<span>任务型阅读</span>-->
                            <!--<div class="f_right fault "></div>-->
                        <!--</div>-->
                       </div>
        </div>
    </div>
    <div style="height: 100%; margin-right: 200px;margin-top: 10px;">
        <div sid = 'answer_list' style="overflow: hidden;overflow-y: auto;height:100%">
            <!--<div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;position: relative">
                <div style="position: absolute;right:0px;" class="cus-radio">
                    <div class="f_left"><span class="cus-radio-con">显示答案</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span><span
                            class="cus-radio-con">优秀解答</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span>
                        <span class="cus-radio-con">典型错误</span></div>
                </div>
                <div class="exam-scan">
                    <div class="retract" style="background-color: #ffffff">
                        <div class="exam-scan-intro">
                            <span class="exam-flag" sid="index">1.</span>
                            <span sid="type">单选题</span>
                        </div>
                        <div class="exam-scan-stem" sid="exam-scan-stem">
                            若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                        </div>
                        <div class="exam-scan-option" sid="exam-scan-option">
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">A.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">B.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">C.</span>
                                <span class="exam-text"
                                      sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">D.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="min-height: 100px;position: relative;padding-left: 40px;">
                <div style="position: absolute;right:0px;">
                    <div class="modify"></div>
                </div>
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[作答]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">A</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[答案]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">C</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[解析]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">有理数的大小比较</span>
                </div>
            </div>
        </div>
        <div>
            <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;position: relative">
                <div style="position: absolute;right:0px;" class="cus-radio">
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span><span
                            class="cus-radio-con">优秀解答</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span>
                        <span class="cus-radio-con">典型错误</span></div>
                </div>
                <div class="exam-scan">
                    <div class="retract" style="background-color: #ffffff">
                        <div class="exam-scan-intro">
                            <span class="exam-flag" sid="index">1.</span>
                            <span sid="type">单选题</span>
                        </div>
                        <div class="exam-scan-stem" sid="exam-scan-stem">
                            若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                        </div>
                        <div class="exam-scan-option" sid="exam-scan-option">
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">A.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">B.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">C.</span>
                                <span class="exam-text"
                                      sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">D.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="min-height: 100px;position: relative;padding-left: 40px;">
                <div style="position: absolute;right:0px;">
                    <div class="modify"></div>
                </div>
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[作答]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">A</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[答案]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">C</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[解析]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">有理数的大小比较</span>
                </div>
            </div>
        </div>
        <div>
            <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;position: relative">
                <div style="position: absolute;right:0px;" class="cus-radio">
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span><span
                            class="cus-radio-con">优秀解答</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span>
                        <span class="cus-radio-con">典型错误</span></div>
                </div>
                <div class="exam-scan">
                    <div class="retract" style="background-color: #ffffff">
                        <div class="exam-scan-intro">
                            <span class="exam-flag" sid="index">1.</span>
                            <span sid="type">单选题</span>
                        </div>
                        <div class="exam-scan-stem" sid="exam-scan-stem">
                            若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                        </div>
                        <div class="exam-scan-option" sid="exam-scan-option">
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">A.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">B.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">C.</span>
                                <span class="exam-text"
                                      sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">D.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="min-height: 100px;position: relative;padding-left: 40px;">
                <div style="position: absolute;right:0px;">
                    <div class="modify"></div>
                </div>
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[作答]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">A</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[答案]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">C</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[解析]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">有理数的大小比较</span>
                </div>
            </div>
        </div>
        <div>
            <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;position: relative">
                <div style="position: absolute;right:0px;" class="cus-radio">
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span><span
                            class="cus-radio-con">优秀解答</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span>
                        <span class="cus-radio-con">典型错误</span></div>
                </div>
                <div class="exam-scan">
                    <div class="retract" style="background-color: #ffffff">
                        <div class="exam-scan-intro">
                            <span class="exam-flag" sid="index">1.</span>
                            <span sid="type">单选题</span>
                        </div>
                        <div class="exam-scan-stem" sid="exam-scan-stem">
                            若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                        </div>
                        <div class="exam-scan-option" sid="exam-scan-option">
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">A.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">B.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">C.</span>
                                <span class="exam-text"
                                      sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">D.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="min-height: 100px;position: relative;padding-left: 40px;">
                <div style="position: absolute;right:0px;">
                    <div class="modify"></div>
                </div>
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[作答]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">A</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[答案]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">C</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[解析]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">有理数的大小比较</span>
                </div>
            </div>
        </div>
        <div>
            <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;position: relative">
                <div style="position: absolute;right:0px;" class="cus-radio">
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span><span
                            class="cus-radio-con">优秀解答</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span>
                        <span class="cus-radio-con">典型错误</span></div>
                </div>
                <div class="exam-scan">
                    <div class="retract" style="background-color: #ffffff">
                        <div class="exam-scan-intro">
                            <span class="exam-flag" sid="index">1.</span>
                            <span sid="type">单选题</span>
                        </div>
                        <div class="exam-scan-stem" sid="exam-scan-stem">
                            若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                        </div>
                        <div class="exam-scan-option" sid="exam-scan-option">
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">A.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">B.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">C.</span>
                                <span class="exam-text"
                                      sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">D.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="min-height: 100px;position: relative;padding-left: 40px;">
                <div style="position: absolute;right:0px;">
                    <div class="modify"></div>
                </div>
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[作答]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">A</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[答案]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">C</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[解析]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">有理数的大小比较</span>
                </div>
            </div>
        </div>
        <div>
            <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;position: relative">
                <div style="position: absolute;right:0px;" class="cus-radio">
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span><span
                            class="cus-radio-con">优秀解答</span></div>
                    <div class="f_left"><span class="cus-radio-pic" sid="pic" key="1"></span>
                        <span class="cus-radio-con">典型错误</span></div>
                </div>
                <div class="exam-scan">
                    <div class="retract" style="background-color: #ffffff">
                        <div class="exam-scan-intro">
                            <span class="exam-flag" sid="index">1.</span>
                            <span sid="type">单选题</span>
                        </div>
                        <div class="exam-scan-stem" sid="exam-scan-stem">
                            若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                        </div>
                        <div class="exam-scan-option" sid="exam-scan-option">
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">A.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">B.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">C.</span>
                                <span class="exam-text"
                                      sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                            </div>
                            <div class="exam-scan-o-li">
                                <span class="exam-tip" sid="index">D.</span>
                                <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="min-height: 100px;position: relative;padding-left: 40px;">
                <div style="position: absolute;right:0px;">
                    <div class="modify"></div>
                </div>
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[作答]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">A</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[答案]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">C</span>
                </div>
                <br style="clear:both;">
                <div class="exam-scan-h ">
                    <span class="exam-ana retract">[解析]</span>
                    <span class="exam-text retract" sid="exam-scan-answer">有理数的大小比较</span>
                </div>
            </div>-->
        </div>
    </div>
</div>