<div cid="removeWindow">
    <div class="back-level"></div>
    <div class="box-out">
        <div class="box-inner" style="width: 450px;">
            <div class="box-inner-top clearfix">
                <span class="send-title l" sid="title">资料编辑</span>
                <span class="close-send r" sid="cancel"></span>
            </div>
            <div class="edit-box-inner-con cus-form" style="width: 96%;min-height: 30px">
                <div style="padding: 20px 0px;">
                    <div class="f_left">
                        <div style="float: right;padding: 10px;">删除后学生端试题或资源任务将自动撤回，确认删除吗？</div>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="box-inner-btn" style="position: relative;right: 0px; bottom: 0px;margin:5px;">
                <Button class="cus-button cus-button-white " sid="cancel">取消</Button>
                <Button type="button" class="cus-button cus-button-blue " sid="save">确定</Button>
            </div>
        </div>
    </div>
</div>