<div style="margin: 10px 0px;">
    <div class="group_but f_left" sid="surface_nav" style="margin-left: 20px;">
        <!--<div class="button" >卷面优秀</div>-->
        <!--<div class="button on">卷面粗糙</div>-->
    </div>
    <div class="group_but" sid="page_turn"  style="margin-right: 20px;float: right;">
        <div class="button" sid="pre_page">上一份</div>
        <div class="button" sid="next_page">下一份</div>
    </div>
    <div sid="page_count" style="float: right;padding-top: 10px;margin-right: 10px;">
        <div>第<span sid="current_page">N</span>份,共<span sid="total_page">M</span>份</div>
    </div>
</div>
<div style="clear: both;"></div>
<div style="margin:10px;height: 45px;padding-left: 20px; line-height:45px;background-color: #ffffff;clear:both;border: 1px solid #EDEDED;" sid="student_info">
    <!--<div style="float:left;">姓名：<span>李雷</span> （<span>12</span>分）</div>
    <div class="type_item" style="float: right;margin-top: 5px;margin-right: 20px;">
        <div class="but_remove" style="float: right;margin-top: 5px;"></div>
        <div class="type_title_look" style="float: right;"></div>
    </div>-->
</div>

<div cid="exam_layout" class="exam_layout" sid="content">
    <!--<div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>

    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>
    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>
    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>
    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>
    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>
    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>
    <div style="background-color: #ffffff;min-height: 30px;margin: 10px;padding: 10px;">
        <div class="exam-scan">
            <div class="retract" style="background-color: #ffffff">
                <div class="exam-scan-intro">
                    <span class="exam-flag" sid="index">1.</span>
                    <span sid="type">单选题</span>
                </div>
                <div class="exam-scan-stem" sid="exam-scan-stem">
                    若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解的解满足x+y=0，则a的取值是（ ）
                </div>
                <div class="exam-scan-option" sid="exam-scan-option">
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">A.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">B.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解若方程组的解解若方程组的解若解若方程组的解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">C.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组解解解若若方程组的解的解满足x</span>
                    </div>
                    <div class="exam-scan-o-li">
                        <span class="exam-tip" sid="index">D.</span>
                        <span class="exam-text" sid="stem">若方程组若方程组的解若方程组的解若方程组的解若方程组的解若方程组的 的解满足x</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="exam-scan-h " >
        <span class="exam-ana retract">[作答]</span>
        <span class="exam-text retract" sid="exam-scan-answer">A</span>
    </div>-->
</div>