<div class="representative representative1 clearfix">
    <div class="repre_left r-box-out">
        <div class="right_loops_top_title repre_left-top"> 题号</div>
        <div class="datum_left" sid="datum_left">
        </div>
    </div>
    <div class="repre_right repre_right1" cid="repre_right">
    </div>
</div>