<div class="type_item back;" style="clear: both;">
    <div class="type_title_error"></div>
    <div class="type_title">错误学生</div>
    <div class="type_title f_right" style="margin-left: 10px;"><span sid="fault_count"></span>人</div>
    <div class="type_title f_right"><span sid="fault_percent" style="color: #808fa3;"></span><span style="color: #808fa3;">%</span></div>
    <br style="clear: both;">
    <div style="overflow:hidden;background-color:#f5f7f9;min-height: 20px;" sid="fault_list">
    </div>
</div>

<div class="type_item back" style="clear: both;">
    <div class="type_title_noRight"></div>
    <div class="type_title">半对学生</div>
    <div class="type_title f_right" style="margin-left: 10px;"><span sid="part_right_count"></span>人</div>
    <div class="type_title f_right"><span sid="part_right_percent" style="color: #808fa3;"></span><span style="color: #808fa3;">%</span></div>
    <br style="clear: both;">
    <div style="overflow:hidden;background-color:#f5f7f9;min-height: 20px;" sid="part_right_list">
    </div>
</div>
<div class="type_item back" style="clear: both;">
    <div class="type_title_right"></div>
    <div class="type_title">正确学生</div>
    <div class="type_title f_right" style="margin-left: 10px;"><span sid="right_count"></span>人</div>
    <div class="type_title f_right"><span sid="right_percent" style="color: #808fa3;"></span><span style="color: #808fa3;">%</span></div>
    <br style="clear: both;">
    <div style="overflow:hidden;background-color:#f5f7f9;min-height: 20px;" sid="right_list">
    </div>
</div>



<!--

<div style="margin-top: 10px;">
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;" class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
</div>-->
