﻿/* reset */
html,body,h1,h2,h3,h4,h5,h6,ul,li,table,th,td,form,input,button,textarea,a{margin:0;padding:0;font:12px/1  Microsoft YaHei, Tahoma, Helvetica, Arial,"宋体", "Times New Roman", sans-serif;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-sizing: border-box; }
p{margin:0;padding:0;}
ul,li{display:block;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
textarea{overflow:auto;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
a,a:hover{text-decoration:none;}
body{background:#fff;}
a{color:#333;}
td,th{
    border: 1px solid #DDD;
}