<br style="clear: both;">
<div cid="group" sid="exam_nav"></div>
<div cid="layout" class="layout" >
    <div cid="layout_right" class="layout_right" sid="ana_content" style="overflow: hidden; overflow-y: auto;background: #ffffff">
        <div class="back">
            <div class="right_loops_top_title">完成情况</div>
            <div>
                <div class="synthesize_num" style="width: 50%">
                    <span sid="exam_avg">2.5</span>
                    <div>本题平均分</div>
                </div>
                <div class="synthesize_num" style="width: 50%">
                    <span>
                        <span sid="right_person">12</span>
                        <span style="color: #000000;font-weight: normal"> / </span>
                        <span style="color: #000000;font-weight: normal" sid="total_person">40</span>
                    </span>
                    <div>正确人数</div>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div style="float:right;width: 100%" class="back">
                <div class="group_but" sid="census_nav" style="margin-right: 20px;">
                    <div class="button">统计</div>
                    <div class="button">学生详情</div>
                </div>
            </div>
        </div>
        <div cid="type" class="type  " sid="census_detail" style="padding-bottom: 30px;"></div>
    </div>
    <div class="layout_left" cid="left_layout">
        <div sid="exam_container" style="width: 100%; overflow: hidden; overflow-y: auto;">
            <div sid="exam_list"></div>
        </div>
    </div>
</div>
